<html lang="en" xml:lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../../assets/stylesheets/parent.css" type="text/css" media="screen" title="no title" charset="utf-8">
	
	<title>Ted Zingrebe</title>
</head>
<body>

<div id="header" class="wrap">
	<div id="headerContent" class="content">

			<div class="logoContent">
				<%= link_to landing_path, :class => "logo" do %>
				<div class="logo" style="background-image:url(<%= image_url 'http://tzportfolio.s3.amazonaws.com/logos/logo.jpg' %>);">&nbsp;</div>
				<% end %>
			</div>
			
			<div class="stdSiteNav">
				<ul>
					<li><a href="landing.html#aTop">Home</a> |</li>
					<li><%= link_to 'Projects', landing_path %> |</li>
					<li><%= link_to 'Projects', landing_path(@lamp, :anchor => "aProjects") %> |</li>
					<li><%= link_to('Path', landing_path(:anchor => 'aProjects')) %>|</li>
					<li><a href="../landing.html#aProducts">Products</a> |</li>
					<li><a href="#aContact">Contact</a></li>
				</ul>
			</div>

							<div class="click-nav">
								<ul class="no-js">
									<li class="menu">
										<a class="clicker"><img src="http://tzportfolio.s3.amazonaws.com/icons/menu-icon.png" alt="Icon">&nbsp;</a>
										<ul>
											<li><a href="landing.html"><img src="http://tzportfolio.s3.amazonaws.com/icons/i-2.png" alt="Icon">Home</a></li>
											<li><a href="landing.html#Projects"><img src="http://tzportfolio.s3.amazonaws.com/icons/i-3.png" alt="Icon">Projects</a></li>
											<li><a href="landing.html#Products"><img src="http://tzportfolio.s3.amazonaws.com/icons/i-3.png" alt="Icon">Products</a></li>
											<li><a href="#aContact"><img src="http://tzportfolio.s3.amazonaws.com/icons/i-3.png" alt="Icon">Contact</a></li>
										</ul>
									</li>
								</ul>
							</div>


				</div>
			</div>

			<div id="headerBackground" class="wrap"><a class="advance" id="aTop">&nbsp;</a></div>

			<div id="body" class="wrap">

				<div id="details" class="wrap">
					<div id="detailsContent" class="bodyContent">

						<div class="productLogoWrap"> 
							<span id="logoHpn" class="productLogo" style="background-image:url(http://tzportfolio.s3.amazonaws.com/logos/hoopisLogo-white.png);">&nbsp;</span>
						</div>

						<div class="sectionTitle"><h1 >Product Details</h1></div>
						<div id="productImageHpn" class="productLandingImage" style="background-image:url(http://tzportfolio.s3.amazonaws.com/product_hpn/detailsImage.jpg);">
							&nbsp;
						</div>
						<div id="overview" class="description1">
							<h2>Overview</h2>

							<p>The HPN Community was the first, and is currently, the flagship product from the Hoopis Performance Network. Launched in 2008, the HPN Community provides a web-based training platform; serving as a turnkey approach to training & coaching exclusively for the Financial Services Industry. HPN Community content features training from leading industry experts, sales producers and world renown consultants in the areas of: sales skills, marketing, product knowledge, practice management, motivation and leadership.</p>

						</div>



						<div id="contribution" class="description1">
							<h2>Contribution</h2>
							<p>Since corporate inception, my role as Director of Communications, has directly evolved with the sales and content growth of the HPN Community. What started as my serving as a "one person show," developed in to my current role as working manager in the executive leadership team. Some key HPN Community contributions are as follows:</p>
							<ul>
							<li>Established and manage internal media production department handling all video production, web development (mostly front-end) and integrated marketing campaigns.</li>
							<li>Established and manage lifecycle of both creative and workflow processes, supporting rapid content growth and custom enterprise experiences.</li>
							<li>Support enterprise sales process, managing custom technological feature builds, integration and implementation.</li>
							<li>Implement department video production studio, hardware and software as well as storage/disaster recovery equipment.</li>
							</ul>

						</div>

						<div id="results" class="description1">
							<h2 class="stdSite">Results</h2>
							<h2 class="mobile">Key Details</h2>
							<ul>
								<li>The leading training and development solution in the financial services industry with $2 million+ of annual subscription sales.</li>
								<li>Most robust content library in its' industry, featuring 1000+ training videos, interactive content and mobile compatibility.</li>
								<li>A-List clients including: Northwestern Mutual, Mass Mutual, New York Life and Met Life.</li>
								<li>International market penetration including: Canada, the Caribbean, Singapore and Hong Kong.</li>
							</ul>
						</div>

						<div><a id="bodyAdv" class="advance" href="#aSampleGalleries" style="background-image:url(http://tzportfolio.s3.amazonaws.com/icons/downArrow.png);">&nbsp;</a></div>

					</div>
					<div id="aSampleGalleries" class="anchor">&nbsp;</div>
				</div>

				<div id="samples" class="wrap">
					<div id="samplesContent" class="bodyContent">

						<div class="sectionTitle"><h1 >Sample Galleries</h1></div>

						<div id="webGallery">
							<div class="webInnerGallery">
								<h2 class="mobilePhone">Web Content</h2>
								<div class="webLeftGallery">
									<div id="wSampHpn" class="webSampleContainer" style="background-image:url(http://tzportfolio.s3.amazonaws.com/product_hpn/webGalleryCover.jpg);">
										<a id="wSampHpn" class="webSample" href="http://tzportfolio.s3.amazonaws.com/product_hpn/landWeb-hpn.jpg" data-caption="Hoopis Community Home Page">
											<span class="enlarge">
												<h3 id="wCopyHpn" class="eCopy">View Larger</h3>
											</span>
										</a>
										<a id="sample" href="http://tzportfolio.s3.amazonaws.com/product_hpn/webSamplesLarge-Hpn-facResources.jpg" class="webSample" data-caption="Facilitator Resources Section">&nbsp;</a>
										<a id="sample" href="http://tzportfolio.s3.amazonaws.com/product_hpn/webSamplesLarge-Hpn-selfStudyCurriculum.jpg" class="webSample" data-caption="Self Study Curriculum"  data-caption="Self Study Curriculum">&nbsp;</a>
										<a id="sample" href="http://tzportfolio.s3.amazonaws.com/product_hpn/webSamplesLarge-Hpn-phoneBuddy.jpg" class="webSample" data-caption="Phone Buddy">&nbsp;</a>
										<a id="sample" href="http://tzportfolio.s3.amazonaws.com/product_hpn/webSamplesLarge-Hpn-siteMap.jpg" class="webSample" data-caption="Site Map">&nbsp;</a>
										<a id="sample" href="http://tzportfolio.s3.amazonaws.com/product_hpn/webSamplesLarge-Hpn-mobilePortal.jpg" class="webSample" data-caption="Mobile Portal">&nbsp;</a>
										<a id="sample" href="http://tzportfolio.s3.amazonaws.com/product_hpn/webSamplesLarge-Hpn-mobileContent.jpg" class="webSample" data-caption="Mobile Content">&nbsp;</a>
									</div>
								</div>

							<div class="webRightGallery">
								<div class="webRightDescription">
									<h2>Web Content</h2>
									<div class="descriptionList">
										<ol>
											<li>HPN Community Home Page</li>
											<li>The University</li>
											<li>Self Study Curriculum</li>
											<li>Phone Buddy</li>
											<li>Site Map</li>
											<li>Mobile Portal</li>
											<li>Mobile Content</li>
										</ol>
									</div>
								</div>
							</div>

							</div>
						</div>

						<div id="videoGallery">
							<div class="videoInnerGallery">
								<h2 class="mobilePhone">Video Content</h2>
								<div class="videoLeftGallery">
									<div class="videoLeftDescription">
										<h2>Video Content</h2>
										<div class="descriptionList">
										<ol>
											<li>Community Overview</li>
											<li>Preserving Lifestyles</li>
											<li>Field Tested</li>
											<li>General Sample</li>
										</ol>
										</div>
									</div>
								</div>

								<div class="videoRightGallery">
									<div id="vSamp" class="videoSampleContainer" style="background-image:url(http://tzportfolio.s3.amazonaws.com/product_hpn/videoGalleryCover.jpg);">
										<a id="vSamp" class="videoSample" href="http://player.vimeo.com/video/97769035" data-options="width: 600, height: 338">
											<span class="play">
												<h3 id="vCopy" class="eCopy">Watch Video</h3>
											</span>
										</a>
										<a id="sample" href="http://player.vimeo.com/video/97769037" class="videoSample"
										data-options="width: 600, height: 338">&nbsp;</a>
										<a id="sample" href="http://player.vimeo.com/video/97769039" class="videoSample"
										data-options="width: 600, height: 338">&nbsp;</a>
										<a id="sample" href="http://player.vimeo.com/video/97769038" class="videoSample"
										data-options="width: 600, height: 338">&nbsp;</a>
									</div>
								</div>

							</div>
						</div>

						<div id="printGallery">
							<div class="printInnerGallery">
								<h2 class="mobilePhone">Print Content</h2>
								<div class="printLeftGallery">
									<div id="pSamp" class="printSampleContainer" style="background-image:url(http://tzportfolio.s3.amazonaws.com/product_hpn/printGalleryCover.jpg);">
										<a id="pSamp" class="printSample" href="http://tzportfolio.s3.amazonaws.com/product_hpn/printSampleLarge-hpnAd1.jpg"  data-caption="Community Ad 1">&nbsp;
											<span class="enlarge">
												<h3 id="pCopy" class="eCopy">View Larger</h3>
											</span>		
										</a>
										<a id="sample" href="http://tzportfolio.s3.amazonaws.com/product_hpn/printSampleLarge-hpnAd2.jpg" class="printSample"  data-caption="Community Ad 2">&nbsp;</a>
										<a id="sample" href="http://tzportfolio.s3.amazonaws.com/product_hpn/printSampleLarge-hpnAd3.jpg" class="printSample"  data-caption="Community Ad 3">&nbsp;</a>
										<a id="sample" href="http://tzportfolio.s3.amazonaws.com/product_hpn/hpnNew2013.jpg" class="printSample"  data-caption="2013 Content Preview">&nbsp;</a>
										<a id="sample" href="http://tzportfolio.s3.amazonaws.com/product_hpn/printSampleLarge-hpnTradeShowBooth.jpg" class="printSample"  data-caption="Community Themed Trade Show Booth">&nbsp;</a>
										<a id="sample" href="http://tzportfolio.s3.amazonaws.com/product_hpn/printSampleLarge-hpnGoop.jpg" class="printSample"  data-caption="Community Themed Hand Sanitizer">&nbsp;</a>
									</div>
								</div>

								<div class="printRightGallery">
									<div class="printRightDescription">
										<h2>Print Content</h2>
										<div class="descriptionList">
											<ol>
												<li>Print Ad 1</li>
												<li>Print Ad 2</li>
												<li>Print Ad 3</li>
												<li>Promotional Piece</li>
												<li>Trade Show Booth</li>
												<li>Hand Sanitizer</li>
											</ol>
										</div>
									</div>
								</div>

							</div>
						</div>	




					<div><a id="bodyAdv" class="advance" href="#aContact" style="background-image:url(http://tzportfolio.s3.amazonaws.com/icons/downArrow.png);">&nbsp;</a></div>	

					</div>
				</div>

			</div>

			<div id="aContact" class="anchor">&nbsp;</div>

			<div id="footer" class="wrap">
				<div id="contactWrap" class="content">
					<div id="contactInfo">

						<h1>Contact Me</h1>
						<div class="contactIcons">
							<ul>
								<li style="background-image:url(http://tzportfolio.s3.amazonaws.com/icons/email.jpg);">
									<a id="email" href="mailto:ted.zingrebe@gmail.com?Profile Inquery" title="Contact me." class="contact">&nbsp;</a>
								</li>
								<li style="background-image:url(http://tzportfolio.s3.amazonaws.com/icons/linkedIn.jpg);">
									<a id="linkedIn" href="http://www.linkedin.com/pub/ted-zingrebe/a/67b/453/" title="Make my boss suspicious." class="contact">&nbsp;</a>
								</li>
								<li style="background-image:url(http://tzportfolio.s3.amazonaws.com/icons/facebook.jpg);">
									<a id="facebook" href="http://www.facebook.com/ted.zingrebe" title="Look at my drunk pictures."  class="contact">&nbsp;</a>
								</li>
							</ul>
						</div>
						<h2>847.271.2311</h2>
					</div>
				</div>
				<a id="topAnchor" href="#aTop" style="background-image:url(http://tzportfolio.s3.amazonaws.com/icons/top.png);">&nbsp;</a>
			</div>

<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<<%= javascript_include_tag "lightboxClasses" %>
</body>
</html>