<html lang="en" xml:lang="en">
<head> 
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Ted Zingrebe | tedzingrebe.com</title>
	<meta name="google-site-verification" content="2d6qiaH_bTubaCNG1S-ugREZiqD_AcXQnqPpF8ffXfA" />
	<meta name='description' content="Ted Zingrebe's media portfolio specializing in project/product management, marketing, web and video production." />
	<meta name='keywords' content="Ted Zingrebe, Zingrebe, Product Management, Project Management, Web Programming, Print, Video, Design" />
	<meta name='robots' content='INDEX, FOLLOW' />
	<meta property="og:title" content="Ted Zingrebe | tedzingrebe.com" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://www.tedzingrebe.com" />
	<meta property="og:description" content="Ted Zingrebe's media portfolio specializing in project/product management, marketing, web and video production." />
	<meta property="og:locale" content="en_US" />
</head>
<body>

<div id="loginHead" class="wrap">
	&nbsp;
</div>
<div id="contentWrap">
	<div id="loginWrap" class="wrap">
		<div id="loginContainer">
				<div id="login">
					<div class="loginCopy">Log in</div>
					<%= form_for(:portuser, :url => session_path(:portuser)) do |f| %>
					<div><%= f.label :email,  :class => "label" %><br />
					  <%= f.text_field :email, autofocus: true,  :class => "input" %></div>
					
					<div><%= f.label :password,  :class => "label" %><br />
					  <%= f.password_field :password, autocomplete: "off",  :class => "input" %></div>
					<div>
					  <%= f.check_box :remember_me,  :class => "label" %><%= f.label :remember_me ,  :class => "labelRemember" %></div>
					
					  <div><%= f.submit 'Sign in',  :class => "login"  %></div>

					<% end %>
				</div>
		</div>
	</div>
</div>

<div id="loginFoot" class="wrap">
<p>ted zingrebe | 2014
</div>

</body>
</html>