<html lang="en" xml:lang="en">
<head>

</head>
<body>

<div id="header" class="wrap">
	<div id="headerContent" class="content">

			<div class="logoContent">
				<%= link_to landing_path, :class => "logo" do %>
				<div class="logo" style="background-image:url(<%= image_url 'http://tzportfolio.s3.amazonaws.com/logos/logo.jpg' %>);">&nbsp;</div>
				<% end %>
			</div>
			
			<div class="stdSiteNav">
				<ul>
					<li><%= link_to 'Home', landing_path %> |</li>
					<li><%= link_to 'Projects', landing_path(@landing, :anchor => "aProjects") %> |</li>
					<li><%= link_to 'Products', landing_path(@landing, :anchor => "aProducts") %> |</li>
					<li><a href="#aContact">Contact</a> |</li>
					<li><%= link_to('Logout', destroy_user_session_path) %></li>
				</ul>
			</div>
			
			<div class="click-nav">
				<ul class="no-js">
					<li class="menu">
						<a class="clicker"><img src="http://tzportfolio.s3.amazonaws.com/icons/menu-icon.png">&nbsp;</a>
						<ul>
							<li>
							<%= link_to landing_path  do %>
							<img class="mobileIcon" src="http://tzportfolio.s3.amazonaws.com/icons/i-2.png">
								Home
							<% end %>
							</li>
							<li>
							<%= link_to landing_path(@landing, :anchor => "aProjects") do %>
							<img class="mobileIcon" src="http://tzportfolio.s3.amazonaws.com/icons/i-3.png">
								Projects
							<% end %>
							</li>
							<li>
							<%= link_to landing_path(@landing, :anchor => "aProducts") do %>
							<img class="mobileIcon" src="http://tzportfolio.s3.amazonaws.com/icons/i-3.png">
								Products
							<% end %>
							</li>
							<li><a href="#aContact"><img class="mobileIcon" src="http://tzportfolio.s3.amazonaws.com/icons/i-3.png">Contact</a></li>
							<li>
								<%= link_to destroy_user_session_path do %>
								<img class="mobileIcon" src="http://tzportfolio.s3.amazonaws.com/icons/i-3.png">
								Log Out
								<% end %>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		
		
	</div>
</div>

<div id="headerBackground" class="wrap"><a class="advance" id="aTop">&nbsp;</a></div>

<div id="body" class="wrap">
	
	<div id="intro" class="wrap">
		<div id="introContent" class="bodyContent">
			
			<div class="sectionTitle">
				<h1 class="bottomMg">HELLO. I AM TED,</h1>
				<h2 class="landingStyle1">and this is my portfolio.</h2>
				<p class="landingStyle2">For the past nine years I have participated in building a (primarily) online video based training company in the financial services industry.  Simply put, I manage products, projects and campaigns.  I collaborate with the executive team on key business decisions. I design, code and market things. This is the visual attempt at my experience. It is, as with everything else, evolving.<br /><br />
				If you have any questions, contact me by any of the methods below.</p>
				<p class="landingStyle3">*Please note, all work represented is in some way touched by me. The exception is several background images on this site. I am currently "in-between" high quality cameras.</p>
			</div>
				
	
			
			<div><a id="bodyAdv" class="advance" href="#aProjects" style="background-image:url(http://tzportfolio.s3.amazonaws.com/icons/downArrow.png);">&nbsp;</a></div>
			
		</div>
		<div id="aProjects" class="anchor"><span class="aProjects"></span></div>
	</div>
	
	<div id="projects" class="wrap">
		<div id="projectsContent" class="bodyContent">
			
			<div class="sectionTitle"><h1 class="bottomMg">RECENT PROJECTS</h1></div>
			
			<div class="projectGallery">
					<div id="projectPreserving" class="webSampleContainer" style="background-image:url(http://tzportfolio.s3.amazonaws.com/landing/preservingThumb.jpg);">
										<a id="projectPreserving" class="projectVideo" href="http://player.vimeo.com/video/97769037" data-options="width: 600, height: 338">
											<span class="play">
												<h3 id="projectCopyVideo" class="eCopy">Watch Video</h3>
											</span>
										</a>

					</div>
			</div>
			
			<div class="projectGallery">
					<div id="projectLamp" class="webSampleContainer" style="background-image:url(<%= image_url 'http://tzportfolio.s3.amazonaws.com/landing/interestingStrip.jpg' %>);">
					<%= link_to lamp_path, :class => "projectWeb", :id => "projectLamp" do %>
						<span class="go">
							<h3 id="projectCopyWeb" class="eCopy">View Project</h3>
						</span>
					<% end %>
					</div>
			</div>
			
			<div><a id="bodyAdv" class="advance" href="#aProducts" style="background-image:url(http://tzportfolio.s3.amazonaws.com/icons/downArrow.png);">&nbsp;</a></div>
			
		</div>
		<div id="aProducts" class="anchor">&nbsp;</div>
	</div>
		
		
	<div id="products" class="wrap">
		<div id="productsContent" class="bodyContent">
			
			<div class="sectionTitle"><h1 class="bottomMg">PRODUCT LIBRARY</h1></div>
			
			<div class="productGallery">
				<div id="productHpn" class="webSampleContainer" style="background-image:url(http://tzportfolio.s3.amazonaws.com/landing/bannerHpn.jpg);">
						<%= link_to community_path, :class => "productSample", :id => "productHpn" do %>
							<span class="go">
							<h3 id="productCopy" class="eCopy">View Product</h3>
							</span>
						<% end %>
					</a>
				</div>
			</div>
				
				<div class="productGallery">
					<div id="productTs" class="webSampleContainer" style="background-image:url(http://tzportfolio.s3.amazonaws.com/landing/bannerTs.jpg);">
							<%= link_to trustworthy_path, :class => "productSample", :id => "productTs" do %>
								<span class="go">
								<h3 id="productCopy" class="eCopy">View Product</h3>
								</span>
							<% end %>
					</div>
				</div>
				
				<div class="productGallery">
					<div id="productTsqs" class="webSampleContainer" style="background-image:url(http://tzportfolio.s3.amazonaws.com/landing/bannerTsqs.jpg);">
							<%= link_to quickstart_path, :class => "productSample", :id => "productTsqs" do %>
								<span class="go">
								<h3 id="productCopy" class="eCopy">View Product</h3>
								</span>
							<% end %>
					</div>
				</div>

				<div class="productGallery">
					<div id="productEcltc" class="webSampleContainer" style="background-image:url(http://tzportfolio.s3.amazonaws.com/landing/bannerEcltc.jpg);">
							<%= link_to ecltc_path, :class => "productSample", :id => "productEcltc" do %>
								<span class="go">
								<h3 id="productCopy" class="eCopy">View Product</h3>
								</span>
							<% end %>
					</div>
				</div>

				<div class="productGallery">
					<div id="productAp" class="webSampleContainer" style="background-image:url(http://tzportfolio.s3.amazonaws.com/landing/bannerAp.jpg);">
							<%= link_to ap_path, :class => "productSample", :id => "productAp" do %>
								<span class="go">
								<h3 id="productCopy" class="eCopy">View Product</h3>
								</span>
							<% end %>
					</div>
				</div>
			
			
		<div><a id="bodyAdv" class="advance" href="#aContact" style="background-image:url(http://tzportfolio.s3.amazonaws.com/icons/downArrow.png);">&nbsp;</a></div>	
				
		</div>
	</div>	
		
	
</div>

<div id="aContact" class="anchor">&nbsp;</div>

<div id="footer" class="wrap">
	<div id="contactWrap" class="content">
		<div id="contactInfo">
			
			<h1>Contact Me</h1>
			<div class="contactIcons">
				<ul>
					<li style="background-image:url(http://tzportfolio.s3.amazonaws.com/icons/email.jpg);">
						<a id="email" href="mailto:ted.zingrebe@gmail.com?Profile Inquery" title="Contact me." class="contact">&nbsp;</a>
					</li>
					<li style="background-image:url(http://tzportfolio.s3.amazonaws.com/icons/linkedIn.jpg);">
						<a id="linkedIn" href="http://www.linkedin.com/pub/ted-zingrebe/a/67b/453/" title="Make my boss suspicious." class="contact">&nbsp;</a>
					</li>
					<li style="background-image:url(http://tzportfolio.s3.amazonaws.com/icons/facebook.jpg);">
						<a id="facebook" href="http://www.facebook.com/ted.zingrebe" title="Look at my drunk pictures."  class="contact">&nbsp;</a>
					</li>
				</ul>
			</div>
			<h2>847.271.2311</h2>
		</div>
	</div>
	<a id="topAnchor" href="#aTop" style="background-image:url(http://tzportfolio.s3.amazonaws.com/icons/top.png);">&nbsp;</a>
</div>

<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<script src="http://tzportfolio.s3.amazonaws.com/js/lightboxClasses.js"></script>
<script src="http://tzportfolio.s3.amazonaws.com/js/scroll.js"></script>
<script src="http://tzportfolio.s3.amazonaws.com/js/mobileNav.js"></script>

</body>
</html>