<html lang="en" xml:lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>Ted Zingrebe | Portfolio</title>
</head>
<body>

<div id="header" class="wrap">
	<div id="headerContent" class="content">

			<div class="logoContent">
				<%= link_to landing_path, :class => "logo" do %>
				<div class="logo" style="background-image:url(<%= image_url 'http://tzportfolio.s3.amazonaws.com/logos/logo.jpg' %>);">&nbsp;</div>
				<% end %>
			</div>
			
			<div class="stdSiteNav">
				<ul>
					<li><%= link_to 'Home', landing_path %> |</li>
					<li><%= link_to 'Projects', landing_path(@landing, :anchor => "aProjects") %> |</li>
					<li><%= link_to 'Products', landing_path(@landing, :anchor => "aProducts") %> |</li>
					<li><a href="#aContact">Contact</a> |</li>
					<li><%= link_to('Logout', destroy_user_session_path) %></li>
				</ul>
			</div>
			
			<div class="click-nav">
				<ul class="no-js">
					<li class="menu">
						<a class="clicker"><img src="http://tzportfolio.s3.amazonaws.com/icons/menu-icon.png">&nbsp;</a>
						<ul>
							<li>
							<%= link_to landing_path  do %>
							<img class="mobileIcon" src="http://tzportfolio.s3.amazonaws.com/icons/i-2.png">
								Home
							<% end %>
							</li>
							<li>
							<%= link_to landing_path(@landing, :anchor => "aProjects") do %>
							<img class="mobileIcon" src="http://tzportfolio.s3.amazonaws.com/icons/i-3.png">
								Projects
							<% end %>
							</li>
							<li>
							<%= link_to landing_path(@landing, :anchor => "aProducts") do %>
							<img class="mobileIcon" src="http://tzportfolio.s3.amazonaws.com/icons/i-3.png">
								Products
							<% end %>
							</li>
							<li><a href="#aContact"><img class="mobileIcon" src="http://tzportfolio.s3.amazonaws.com/icons/i-3.png">Contact</a></li>
							<li>
								<%= link_to destroy_user_session_path do %>
								<img class="mobileIcon" src="http://tzportfolio.s3.amazonaws.com/icons/i-3.png">
								Log Out
								<% end %>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		
		
	</div>
</div>

<div id="headerBackground" class="wrap"><a class="advance" id="aTop">&nbsp;</a></div>

<div id="body" class="wrap">
	
	<div id="details" class="wrap">
		<div id="detailsContent" class="bodyContent">
			
			<div class="productLogoWrap"> 
				<span id="logoTs" class="productLogo" style="background-image:url(http://tzportfolio.s3.amazonaws.com/logos/tsLogo-white.png);">&nbsp;</span>
			</div>
			
			<div class="sectionTitle"><h1 >Product Details</h1></div>
			<div id="productImageHpn" class="productLandingImage" style="background-image:url(http://tzportfolio.s3.amazonaws.com/product_ts/detailsImage.jpg);">
				&nbsp;
			</div>
			<div id="overview" class="description1">
				<h2>Overview</h2>

				<p>The Trustworthy Selling Program launched in 2011 as comprehensive sales training program for financial serves industry.  This 10-module course is designed as primarily as a facilitator led program, targeted toward agencies who that want to take their training program to the next level. Since inception, Trustworthy Selling has become a "household name" in the industry, replacing long-standing traditional programs, garnering substantial amounts of enterprise clients.</p>

			</div>
			

					
			<div id="contribution" class="description1">
				<h2>Contribution</h2>
				<p>My role in the success of the Trustworthy Selling program was a potpourri of supervisory, creative and production roles. My contributions are as follows:</p>
				<ul>
				<li>Established the Hoopis Performance Network’s first full HD production workflow for this product as well as edited and motion graphics on half of the product videos.</li>
				<li>Produced and directed all video production shoots, including remote “role play” scenario with contracted actors as well as remote studio locations.</li>
				<li>Worked with graphic designers to establish branding and overall feel of website, mobile, video and marketing.</li>
				<li>Produced product website, mobile site, user interface and all major content for both English and French.</li>
				</ul>
					
			</div>
		
			<div id="results" class="description1">
				<h2 class="stdSite">Results</h2>
				<h2 class="mobile">Key Details</h2>
				<ul>
					<li>Rapidly dominating sales training program with upwards of $2 million of annual sales and replacement of other traditional financial services industry staples.</li>
					<li>International market penetration in English and French, with Spanish translation tentatively slated for 2015.</li>
					<li>A-List clients including: Northwestern Mutual, Mass Mutual, London Life, Royal Bank of Canada and as an enterprise with Thrivent Financial.</li>
				</ul>
			</div>
			
			<div><a id="bodyAdv" class="advance" href="#aSampleGalleries" style="background-image:url(http://tzportfolio.s3.amazonaws.com/icons/downArrow.png);">&nbsp;</a></div>
			
		</div>
		<div id="aSampleGalleries" class="anchor">&nbsp;</div>
	</div>
	
	<div id="samples" class="wrap">
		<div id="samplesContent" class="bodyContent">
			
			<div class="sectionTitle"><h1 >Sample Galleries</h1></div>
			
			<div id="webGallery">
				<div class="webInnerGallery">
					<h2 class="mobilePhone">Web Content</h2>
					<div class="webLeftGallery">
						<div id="wSampTs" class="webSampleContainer" style="background-image:url(http://tzportfolio.s3.amazonaws.com/product_ts/webGalleryCover.jpg);">
							<a id="wSampTs" class="webSample" href="http://tzportfolio.s3.amazonaws.com/product_ts/landWeb-trustworthy.jpg" data-caption="Trustworthy Selling Home Page">
								<span class="enlarge">
									<h3 id="wCopyTs" class="eCopy">View Larger</h3>
								</span>
							</a>
							<a id="sample" href="http://tzportfolio.s3.amazonaws.com/product_ts/webSamplesLarge-capstone.jpg" class="webSample" data-caption="Program Capstone Module">&nbsp;</a>
							<a id="sample" href="http://tzportfolio.s3.amazonaws.com/product_ts/webSamplesLarge-perspectives.jpg" class="webSample" data-caption="Perspectives Whitepaper Section"  data-caption="Self Study Curriculum">&nbsp;</a>
							<a id="sample" href="http://tzportfolio.s3.amazonaws.com/product_ts/webSamplesLarge-mod6.jpg" class="webSample" data-caption=" Module 6 Sample">&nbsp;</a>
							<a id="sample" href="http://tzportfolio.s3.amazonaws.com/product_ts/webSamplesLarge-demos.jpg" class="webSample" data-caption="Language Demonstrations Sample">&nbsp;</a>
							<a id="sample" href="http://tzportfolio.s3.amazonaws.com/product_ts/webSamplesLarge-french.jpg" class="webSample" data-caption="French Content Sample">&nbsp;</a>
							<a id="sample" href="http://tzportfolio.s3.amazonaws.com/product_ts/webSamplesLarge-mobileMod.jpg" class="webSample" data-caption="Mobile Content">&nbsp;</a>
						</div>
					</div>
				
				<div class="webRightGallery">
					<div class="webRightDescription">
						<h2>Web Content</h2>
						<div class="descriptionList">
							<ol>
								<li>Trustworthy Selling Home Page</li>
								<li>Program Capstone Module</li>
								<li>Perspectives Section</li>
								<li>Module Sample</li>
								<li>Language Demonstration</li>
								<li>French Content Sample</li>
								<li>Mobile Content</li>
							</ol>
						</div>
					</div>
				</div>
				
				</div>
			</div>
		
			<div id="videoGallery">
				<div class="videoInnerGallery">
					<h2 class="mobilePhone">Video Content</h2>
					<div class="videoLeftGallery">
						<div class="videoLeftDescription">
							<h2>Video Content</h2>
							<div class="descriptionList">
							<ol>
								<li>Program Overview</li>
								<li>Sample, Module 1</li>
								<li>Scenario 1</li>
								<li>Scenario 2</li>
							</ol>
							</div>
						</div>
					</div>
					
					<div class="videoRightGallery">
						<div id="vSamp" class="videoSampleContainer" style="background-image:url(http://tzportfolio.s3.amazonaws.com/product_ts/videoGalleryCover.jpg);">
							<a id="vSamp" class="videoSample" href="http://player.vimeo.com/video/97767953" data-options="width: 600, height: 338">
								<span class="play">
									<h3 id="vCopy" class="eCopy">Watch Video</h3>
								</span>
							</a>
							<a id="sample" href="http://player.vimeo.com/video/97767954" class="videoSample"
							data-options="width: 600, height: 338">&nbsp;</a>
							<a id="sample" href="http://player.vimeo.com/video/97767955" class="videoSample"
							data-options="width: 600, height: 338">&nbsp;</a>
							<a id="sample" href="http://player.vimeo.com/video/97767956" class="videoSample"
							data-options="width: 600, height: 338">&nbsp;</a>
						</div>
					</div>
					
				</div>
			</div>
			
			<div id="printGallery">
				<div class="printInnerGallery">
					<h2 class="mobilePhone">Print Content</h2>
					<div class="printLeftGallery">
						<div id="pSamp" class="printSampleContainer" style="background-image:url(http://tzportfolio.s3.amazonaws.com/product_ts/printGalleryCover.jpg);">
							<a id="pSamp" class="printSample" href="http://tzportfolio.s3.amazonaws.com/product_ts/printSampleLarge-tsFlyer1.jpg"  data-caption="Print Ad and Flyer #1">&nbsp;
								<span class="enlarge">
									<h3 id="pCopy" class="eCopy">View Larger</h3>
								</span>		
							</a>
							<a id="sample" href="http://tzportfolio.s3.amazonaws.com/product_ts/printSampleLarge-tsFlyer2.jpg" class="printSample"  data-caption="Print Ad and Flyer #2">&nbsp;</a>
							<a id="sample" href="http://tzportfolio.s3.amazonaws.com/product_ts/printSampleLarge-tsFlyer3.jpg" class="printSample"  data-caption="Flyer #3">&nbsp;</a>
						</div>
					</div>
				
					<div class="printRightGallery">
						<div class="printRightDescription">
							<h2>Print Content</h2>
							<div class="descriptionList">
								<ol>
									<li>Sample Flyer #1</li>
									<li>Sample Flyer #2</li>
									<li>Sample Flyer #3</li>
								</ol>
							</div>
						</div>
					</div>
				
				</div>
			</div>	
			
				
			
			
		<div><a id="bodyAdv" class="advance" href="#aContact" style="background-image:url(http://tzportfolio.s3.amazonaws.com/icons/downArrow.png);">&nbsp;</a></div>	
				
		</div>
	</div>
		
</div>

<div id="aContact" class="anchor">&nbsp;</div>

<div id="footer" class="wrap">
	<div id="contactWrap" class="content">
		<div id="contactInfo">
			
			<h1>Contact Me</h1>
			<div class="contactIcons">
				<ul>
					<li style="background-image:url(http://tzportfolio.s3.amazonaws.com/icons/email.jpg);">
						<a id="email" href="mailto:ted.zingrebe@gmail.com?Profile Inquery" title="Contact me." class="contact">&nbsp;</a>
					</li>
					<li style="background-image:url(http://tzportfolio.s3.amazonaws.com/icons/linkedIn.jpg);">
						<a id="linkedIn" href="http://www.linkedin.com/pub/ted-zingrebe/a/67b/453/" title="Make my boss suspicious." class="contact">&nbsp;</a>
					</li>
					<li style="background-image:url(http://tzportfolio.s3.amazonaws.com/icons/facebook.jpg);">
						<a id="facebook" href="http://www.facebook.com/ted.zingrebe" title="Look at my drunk pictures."  class="contact">&nbsp;</a>
					</li>
				</ul>
			</div>
			<h2>847.271.2311</h2>
		</div>
	</div>
	<a id="topAnchor" href="#aTop" style="background-image:url(http://tzportfolio.s3.amazonaws.com/icons/top.png);">&nbsp;</a>
</div>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<script src="http://tzportfolio.s3.amazonaws.com/js/lightboxClasses.js"></script>
<script src="http://tzportfolio.s3.amazonaws.com/js/scroll.js"></script>
<script src="http://tzportfolio.s3.amazonaws.com/js/mobileNav.js"></script>
</body>
</html>